{% layout 'default' %}

<p>I made this Micropub client with a few goals:</p>

<ul>
    <li>Be as spec-compliant as possible.</li>
    <li>Look good and support system-based dark mode. Who would be happy returning (again and again...) to something that is not pleasing to the eye?</li>
    <li>Work on something that is well-tested with a specific Micropub server: IndieKit.</li>
    <li>Make IndieWeb accessible to less technically inclined folks. Self-hosting should be easy.</li>
    <li>To make something useful while I figure out and learn backend content.</li>
</ul>