{% layout 'default' %}

{% comment %}
    IndieAuth W3C Living Standard 25 January 2020 
    https://indieauth.spec.indieweb.org/#application-information
{% endcomment %}
<div class="h-app hidden">
    {% comment %} TODO Create and add logo {% endcomment %}
    <img src="" class="u-logo" alt="">
    <a href="/" class="u-url p-name">Splisher</a>
</div>

{% if error %}
<p class="notification notification--error">An error occured: {{ error }}</p>
{% endif %}

<p>I am building this Micropub client with a few goals in mind:</p>

<ul>
    <li>Be as spec-compliant as possible.</li>
    <li>Look good and support system-based dark mode.</li>
    <li>Make self-hosting as easy as configuring environment variables followed by <code>docker-compose up</code>.</li>
    <li>Make IndieWeb accessible to less technically inclined folks.</li>
    <li>To make something useful for myself and others while I figure out and learn backend content.</li>
</ul>

<p>In its current state, the client is not suitable for public use. I'd suggest you <a href="https://github.com/hirusi/splisher" rel="noopener noreferrer" target="_blank">follow the progress on GitHub.</a></p>