{% layout 'default' %}

{% comment %}
    Provide app information as mf2 output
    https://indieauth.spec.indieweb.org/#application-information
{% endcomment %}
<div class="h-app hidden">
    {% comment %} TODO Create and add logo {% endcomment %}
    <img src="" class="u-logo" alt="">
    <a href="/" class="u-url p-name">Splisher</a>
</div>

{% if error %}
<p>An error occured: {{ error }}</p>
{% endif %}

<p>I am building this Micropub client with a few goals in mind::</p>

<ul>
    <li>Be as spec-compliant as possible.</li>
    <li>Look good and support system-based dark mode.</li>
    <li>Make self-hosting as easy as configuring environment variables followed by <code>docker-compose up</code>.</li>
    <li>Make IndieWeb accessible to less technically inclined folks.</li>
    <li>To make something useful for myself and others while I figure out and learn backend content.</li>
</ul>