{% layout 'default' %}

<p>
	To begin using this client, please login with your domain. Once we know it's you, we can start publishing to your Micropub endpoint.
</p>

<p>
	Please ensure you have the following HTTP headers or <code>rel</code> attributes available on your homepage:
</p>
<ol>
	<li>
		<code>authorization_endpoint</code>
	</li>
	<li>
		<code>token_endpoint</code>
	</li>
	<li>
		<code>micropub</code>
	</li>
</ol>

{% if error %}
<p class="notification notification--error">An error occured: {{ error }}</p>
{% endif %}

<form action="/login/try/" method="post" enctype="application/x-www-form-urlencoded">
	<label for="url">Web Address:</label>
	<input
		id="url"
		name="me"
		placeholder="yourdomain.com"
		type="text"
		autocomplete="on"
		autofocus
	/>
	<br />
	<button type="submit">Sign In</button>
	<input name="_csrf" type="hidden" value="{{ csrfToken }}" />
</form>
