:root {
	--white: #ffffff;
	--black: #000000;

	/* 2020-07-24 https://tailwindcss.com/docs/customizing-colors/#default-color-palette */
	--gray-100: #F7FAFC;
	--gray-200: #EDF2F7;
	--gray-300: #E2E8F0;
	--gray-400: #CBD5E0;
	--gray-500: #A0AEC0;
	--gray-600: #718096;
	--gray-700: #4A5568;
	--gray-800: #2D3748;
	--gray-900: #1A202C;

	--background: #f9f9f9;
	--background-off: #f1f1f1;
	--text-color: #4a4a4a;

	--form-element-background: var(--background-off);
	--form-element-border: #4a4a4a;
	--button-text-color: #f9f9f9;

	--brand-base: #2c8898;
	--brand-complement: #b93e7a;

	--link: var(--brand-base);
	--link-hover: var(--brand-complement);

	--hr: var(--brand-base);

	--code: var(--background-off);

	--notification-error-background: #f1cdcd;
	--notification-error-color: #b13c3c;
	--notification-error-border: #9b2f2f;
}

@media (--dm) {
	:root {
		--background: #111111;
		--background-off: #0a0a0a;
		--text-color: #fafafa;

		--form-element-background: var(--background-off);
		--form-element-border: #fafafa;
		--button-text-color: #111111;
	
		--brand-base: #35abc0;
		--brand-complement: #c44381;
	
		--link: var(--brand-base);
		--link-hover: var(--brand-complement);
	
		--hr: var(--brand-base);

		--code: var(--background-off);

		--notification-error-background: #3f0c0c;
		--notification-error-color: #c03b3b;
		--notification-error-border: #470d0d;
	}
}