form {
	& input,
	& textarea {
		/* Undo Sakura */
		margin: unset;

		font-family: var(--sans-serif-family);
		font-size: 1.6rem;

		&[type="checkbox"] {
			padding: unset;
			margin-bottom: unset;
		}
	}

	& fieldset {
		border: none;
		border-top: 1px solid var(--gray-300);
		margin-bottom: 3.6rem;
		padding-left: 2.4rem;
		padding-top: 1.2rem;

		&media (--dm) {
			border-top-color: var(--gray-800);
		}

		& legend {
			color: var(--brand-base);
			font-size: 1.4rem;
			font-weight: bold;
			margin-left: -2.4rem;
			padding-top: unset;
			text-transform: uppercase;
		}
	}

	& label {
		font-size: 1.4rem;
		/* Undo Sakura */
		margin-bottom: unset;
	}
}

.publishing-form--note {
	@media (--lg) {
		display: grid;
		gap: 0.6em;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto auto;
	}

	@media (--xl) {
		grid-template-columns: 5fr 2fr;
	}
}

.publishing-form__content {
	@media (--lg) {
		/* Grid item properties */
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
	}
}

.publishing-form__syndication-targets {
	@media (--lg) {
		/* Grid item properties */
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.publishing-form__syndication-target {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1rem;

	& label {
		order: 1;
	}
}

.publishing-form__when {
	@media (--lg) {
		/* Grid item properties */
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.publishing-form__when--part {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1rem;

	@media (--lg) {
		flex-direction: column;
		align-items: flex-start;
	}
}

/* .publishing-form__button {} */

.publishing-form__button--submit {
	width: max-content;
}
