.navigation {
	display: flex;
	flex-direction: row;

	@media (--lg-view) {
        flex-direction: column;
	}
}

.navigation__link {
	/* Emoji */
	& > img {
		display: inline;
	}

	&:hover {
		/* Undo Sakura */
		border-bottom: none;
	}
}
