.page-header__topbar {
	display: flex;
	flex-direction: column;
	margin: 1.2rem 0;

	@media (--lg) {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
}

.page-header__app-title {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;

	/* Undo Sakura */
	margin-bottom: 0;
	margin-top: 0;
}

.page-header__page-title {

}

.page-header__user-identity {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;

	/* Undo Sakura */
	margin-bottom: 0;
}

.page-header__user-name {
	font-weight: bold;
}

.page-header__user-photo {
	border-radius: 100%;
	width: 2.4rem;
	height: auto;

	/* TODO Investigate why this is needed at all! Is this Sakura? */
	margin-bottom: 0;
}