.page-header__topbar {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 1.2em 0;
}

.page-header__app-title {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;

	/* Undo Sakura */
	margin-bottom: 0;
	margin-top: 0;
}

.page-header__page-title {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;

	/* Undo Sakura */
	margin-bottom: 0;
	margin-top: 0;
}

.page-header__user-info {
	position: relative;
}

.page-header__user-identity {
	/* Flex child properties */
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;

	/* Element properties */
	align-items: center;
	background: var(--gray-300);
	border-color: var(--gray-300);
	border-radius: 0.4em;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;

	@media (--dm) {
		background: var(--gray-800);
		border-color: var(--gray-800);
	}

	/* Undo Sakura */
	margin-bottom: 0;
}

.page-header__user-menu {
	left: 0;
	position: absolute;
	/* ? Why does this 100% work? */
	top: calc(100% + 0.3em);
}

.user-menu {
	display: none;
	flex-direction: column;
	gap: 0.3em;
	width: 100%;
}

.user-menu--active {
	display: flex;
}

.user-menu__link {
	background: var(--gray-300);
	border-radius: 0.4em;
	color: var(--black);
	font-size: 1.4rem;
	font-weight: bold;
	padding: 0.6em 1.8em;

	&:hover {
		background: var(--brand-complement);
		color: var(--black);

		@media (--dm) {
			color: var(--black);
		}
	}

	@media (--dm) {
		background: var(--gray-800);
		color: var(--white);
	}
}

.page-header__user-name {
	color: var(--black);
	display: none;
	font-weight: bold;
	font-size: 1.4rem;

	/* Undo Sakura */
	margin-bottom: unset;

	@media (--md) {
		display: block;
	}

	@media (--dm) {
		color: var(--white);
	}
}

.page-header__user-photo {
	border-radius: 100%;
	width: 2.4rem;
	height: auto;

	/* TODO Investigate why this is needed at all! Is this Sakura? */
	margin-bottom: 0;
}
