@charset "UTF-8";

@import "./colors.css";

@import "./media-queries.css";

@import "./sakura.css";

@import "./layout.css";

@import "./navigation.css";

@import "./page-header.css";

@import "./notification.css";

@import "./forms.css";

@import "./user.css";

img.emoji {
	height: 1em;
	margin: unset;
	vertical-align: -0.1em;
	width: 1em;
}

.hidden {
	display: none;
}