{% render 'head' title:title %}
	<body>
		{% render 'header' title:title, appState:appState, userIdentity:userIdentity, user:user, pageTitle:pageTitle %}
		{% render 'navigation/user' %}
		<main>
			{% block %}{% endblock %}
		</main>
	</body>
{% render 'footer' %}