<nav>
    {% if appState == 'guest' %}
        <a href="/login">Login</a>
    {% endif %}
    {% if appState == 'user' %}
        <a href="/publish/article">📄 Article</a>
        <a href="/publish/note">📔 Note</a>
        <a href="/publish/reply">↪ Reply</a>
        <a href="/publish/like">♥ Like</a>
        <a href="/publish/repost">♺ Repost</a>
        <a href="/publish/bookmark">🔖 Bookmark</a>
        <a href="/publish/photo">📷 Photo</a>
    {% endif %}
</nav>
