<nav class="navigation">
    {% if appState == 'Guest' %}
        <a class="navigation__link" href="/login/">Login</a>
    {% endif %}
    {% if appState == 'User' %}
        <a class="navigation__link" href="/publish/article/">
            <span class="navigation__link-icon">📄</span>Article
        </a>
        <a class="navigation__link" href="/publish/note/">
            <span class="navigation__link-icon">📔</span>Note
        </a>
        <a class="navigation__link" href="/publish/reply/">
            <span class="navigation__link-icon">↪</span>Reply
        </a>
        <a class="navigation__link" href="/publish/rsvp/">
            <span class="navigation__link-icon">↪</span>RSVP
        </a>
        <a class="navigation__link" href="/publish/like/">
            <span class="navigation__link-icon">♥</span>Like
        </a>
        <a class="navigation__link" href="/publish/repost/">
            <span class="navigation__link-icon">♺</span>Repost
        </a>
        <a class="navigation__link" href="/publish/bookmark/">
            <span class="navigation__link-icon">🔖</span>Bookmark
        </a>
        <a class="navigation__link" href="/publish/photo/">
            <span class="navigation__link-icon">📷</span>Photo
        </a>
        <a class="navigation__link" href="/publish/video/">
            <span class="navigation__link-icon">🎥</span>Video
        </a>
        <a class="navigation__link" href="/publish/audio/">
            <span class="navigation__link-icon">🎤</span>Audio
        </a>
        <a class="navigation__link" href="/publish/checkin/">
            <span class="navigation__link-icon">🚩</span>Checkin
            </a>
        <a class="navigation__link" href="/publish/event/">
            <span class="navigation__link-icon">📅</span>Event
        </a>
    {% endif %}
</nav>
